<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Blind Tenuous and Unforeseen</title>

    <link href='https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons' rel="stylesheet" type="text/css">

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css' rel="stylesheet">

    <style>

    body, html {
      font-family: 'News Cycle', sans-serif !important;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'News Cycle', sans-serif !important;
      font-weight: 300;
    }

    i, .material-icons, .fas, .far, .fab, .fa {
      vertical-align: middle;
    }

    .dignity {
      font-family: 'News Cycle', sans-serif !important;
    }

    .title {
      display: block !important;
      line-height: 2.0 !important;
      margin: 30px 0 !important;
      padding: 10px !important;
    }

    .subway {
      font-size: 18px;
      font-weight: 300;
      line-height: 150%;
      margin-top: 50px;
    }

    router-link {
      text-decoration: none;
    }

    </style>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but blind-tenuous-unforeseen doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
