<template lang="pug">
v-app
  v-app-bar(app='')
    v-toolbar-title.headline
      span Engenho Inadvertido

    v-spacer

    v-btn(text='', href='/', target='self')
      span.mr-2 Variant X

      v-icon mdi-open-in-new

  v-content
    router-view
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    //
  }),
};
</script>
